<?xml version="1.0" encoding="gbk" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.rc.db.dao.CollectionsDao">

    <cache/>

    <insert id="insert">
		INSERT INTO collections(id, name, description, priority, deadline, read, notified)
		VALUES (#{id}, #{name}, #{description}, #{priority}, #{deadline}, #{read}, #{notified})
	</insert>


    <select id="findById" resultType="Collections">
		SELECT * FROM collections where id = #{id} limit 1
	</select>

    <select id="findAll" resultType="collection">
		SELECT * FROM collections
	</select>

    <select id="find" resultType="collection" statementType="STATEMENT" parameterType="map">
        SELECT * FROM collections where ${field} = ${val}
    </select>

    <select id="count" resultType="java.lang.Integer">
		SELECT count(1) FROM collections
	</select>



    <select id="exist" resultType="java.lang.Integer">
		SELECT count(1) FROM collections where id = #{id}
	</select>

    <delete id="delete">
        delete from collections where id = #{id}
    </delete>

    <delete id="deleteAll">
		delete from collections
	</delete>

    <update id="update">
        UPDATE collections
        <set>
            id=#{id},
            name=#{name},
            description=#{description},
            priority=#{priority},
            deadline=#{deadline},
            read=#{read},
            notified=#{notified}
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateIgnoreNull">
        UPDATE collections
        <set>
            <if test="name!= null">name=#{name},</if>
            <if test="description!= null">description=#{description},</if>
            <if test="priority!= null">priority=#{priority},</if>
            <if test="deadline!= null">deadline=#{deadline},</if>
            <if test="read!= null">read=#{read},</if>
            <if test="notified!= null">notified=#{notified}</if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>









