<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="s" converterClass="f" />

    <springProperty scop="context" name="logstashProfile" source="logstash.Profile" defaultValue="dev"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD}}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="wx" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/wx_%d{yyyy-M-d}.log
            </FileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>




    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="wx"/>
    </root>

    <!--<logger name="com.shls.db.dao" level="DEBUG" />-->
    <!--<logger name="com.shls.db.dao" level="INFO" />-->

    <logger name=" org.apache.http" level="INFO" />
</configuration>